/* debug */

.debug-border {
    position: relative;
    &:after {
        position: absolute;
        border-color: rgba(255,255,0,0.5);
        border-width: 1px;
        border-style: solid;
        z-index: -1;
        top: 0;
        left:0;
        bottom:0;
        right:0;
        content: '';
    }
}



