/* ***************** List ******************* */

ul {
    padding-left: 20px;
}

li {
    margin: 0.45em;
}

/* ***************** List expansion ******************* */

.expanded {
    visibility : visible !important;
    &:before, &:after {
        visibility : hidden !important;
        display: none;
    }
}


li:not(.expanded) {
    visibility : hidden;
    &:after {
        visibility : visible;
        content : '...';
    }
}



li.expanded > ul {
    visibility : hidden;
    &:before {
        visibility : visible;
        content : '→';
    }
}

