/* ***************** Markup ****************** */

p {
  margin: 0.2em 0 0 0;
}

pre, code {
    font-size:   $basefontsize;
    line-height: 1.05em;
    text-indent: 0em;
}

pre {
    padding: 0.5em !important;
}

code {
    padding: 0.12em;
}

b i {
    color : red;
    font-style : italic;
}

.underline i {
    color : blue;
    font-style : italic;
    font-weight: bold;
}

/* notes */

@import "_colors";

/* .resume { */
/*     display : none; */
/* } */

.note, .resume {
    background-color: rgba( $background, .7 );
    position: absolute;
    left: 1.5em;
    bottom: 1.5em;
    max-width: 90%;
    text-indent : 0em;
    line-height : 1em;
    p {margin: 0;}
    ol, ul {
        margin: 0em 0.5em;
        /* padding: 0em; */
        > li {
            margin: 0em;
            padding: 0em;
            text-indent : 0em;
            line-height : 1em;
        }
    }
}

.note {
    font-size: smaller;
}

.resume {
    font-size: 60%;
    /* display : none; */
}

blockquote {
    line-height: 1.8em;
    padding: 0.3em 1em;
}

.inline {
    ul,li {
        display : inline;
        margin : 0;
        padding : 0.2em;
        border : 0;
    }
}

.smaller {
    font-size: smaller;
    line-height:110%;
    margin: auto;
    padding: auto;
}

.larger {
    font-size: larger;
    line-height:110%;
    margin: auto;
    padding: auto;
}

.xlarge {
    font-size: 250%;
    font-weight: bold;
    line-height:110%;
    text-shadow: 1px 1px 1px lightgray;
}

.vertical {
    writing-mode: vertical-rl;
}
