/* ************* Positioning ************ */

th.right, td.right {
    float: none;
}

.right {
    float: right;
}

.alignright {
    text-align:right;
}

.center {
    p {
        margin : 0.4em 0;
    }
}

.xlarge .center {
    font-size: inherit;
    line-height: inherit;
}

/* .right p, .center p { */
/*     margin: 0.3em; */
/* } */

/* ************* Figures, Images, Table ********** */

.figure {
    padding: 0px;
    p {
        margin: 0px;
    }
}

img {
    -moz-box-sizing: content-box;
    max-height: 600px;
    max-width:  100%;
}

li > img {
    display: inline;
    max-height: 1.5em;
    vertical-align: middle;
}

caption {
    margin-bottom: 0.5em;
}
table {
    margin: auto;
    margin-bottom: 26px;
    margin-top: 26px;
}

.smaller {
    .figure {
        max-width: 30%;
        height: auto;
        img {
            box-sizing: content-box;
            width: 100%;
            height: auto;
        }
    }
}

/* .maximized { */
/*     /\* position: relative; *\/ */
/*     margin: 0 auto; */
/*     text-align: center; */
/* } */
/* .maximized img { */
/*     background-color: lightgray; */
/*     max-height: 450px; */
/*     /\* max-width:  700px; *\/ */
/*     min-height: 370px; */
/*     min-width: 600px; */
/* } */

