/* ************** Sectioning ************** */

#text-before-first-headline {
    display: none;
}

outline-1, outline-2, outline-3, outline-4 {
    page: mypage;
    page-break-before: always;
}

h1, h2, h3, h4 {
    line-height: 1.25em;
    text-align: center;
    margin: 0 0 1em;
}

.section-number-2, .section-number-3 {
    display: inline;
    font-size: 80%;
}
.section-number-4 {
    display: none;
    font-size: 60%;
}

.outline-text-2, .outline-text-3, .outline-text-4 {
    padding: 0px 5% 0px 5%;
    margin: 0px;
}
