@charset "UTF-8";
/* ************ Contents and Control ********** */
body {
  overflow: hidden;
  /* hide the scrollbar */
  font-size: 22px;
  line-height: 1.25em;
  text-indent: 0.5em; }

#content {
  padding: 0em;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }

#postamble {
  display: none !important; }

/* minibuffer */
#minibuffer {
  position: absolute;
  left: 0.3em;
  right: 0.3em;
  top: 0.3em;
  opacity: 0.5;
  font-size: small;
  text-align: left; }

#prompt {
  margin-left: 0.5em; }

#prompt:after {
  content: " : "; }

.timer {
  float: right;
  margin-right: 0.5em; }

/* printing */
@page mypage {
  size: a4 landscape; }

/* animation */
.emerging {
  animation-name: emergeX;
  animation-duration: 0.7s;
  animation-timing-function: ease-out; }

@keyframes emergeX {
  from {
    -moz-transform: translateX(20px);
    opacity: 0.0; }

  30% {
    -moz-transform: translateX(0px);
    opacity: 0.1; }

  to {
    -moz-transform: translateX(0px);
    opacity: 1.0; } }

.emerging-list {
  animation-name: emergeY;
  animation-duration: 0.7s;
  animation-timing-function: ease-out; }

@keyframes emergeY {
  from {
    -moz-transform: translateY(-20px);
    opacity: 0.0; }

  30% {
    -moz-transform: translateY(0px);
    opacity: 0.1; }

  to {
    -moz-transform: translateY(0px);
    opacity: 1.0; } }

@keyframes highlight {
  0% {
    color: #000; }

  2.5% {
    color: #822; }

  12.5% {
    color: #822; }

  25% {
    color: #000; }

  50% {
    color: #000; }

  100% {
    color: #000; } }

@keyframes highlight-border {
  0% {
    border-color: #222; }

  5% {
    border-color: #c00; }

  70% {
    border-color: #222; } }

@keyframes highlight-border-black {
  0% {
    border-color: #000;
    background-color: #fff; }

  5% {
    border-color: #f00;
    background-color: #fee; }

  70% {
    border-color: #000;
    background-color: #fff; } }

/* ************** Sectioning ************** */
#text-before-first-headline {
  display: none; }

outline-1, outline-2, outline-3, outline-4 {
  page: mypage;
  page-break-before: always; }

h1, h2, h3, h4 {
  font-size: 130%;
  line-height: 1.25em;
  text-align: left;
  left: 6em;
  margin-bottom: 1em; }

h1 {
  /* max-width: 90%; */ }
  h1.title {
    font-size: 200%; }

h2, h3, h4 {
  max-width: 80%;
  /* adjusting newlines */
  padding-left: 2em;
  text-indent: -2em;
  margin-left: 2em; }

.section-number-2 {
  display: inline;
  font-size: 80%; }
  .section-number-2:after {
    content: '.'; }

.section-number-3 {
  display: inline;
  font-size: 80%; }
  .section-number-3:after {
    content: '.'; }

.section-number-4 {
  display: inline;
  font-size: 80%; }
  .section-number-4:after {
    content: '.'; }

/* .section-number-4 { */
/*     display: inline; */
/*     font-size: 60%; */
/* } */
.outline-text-2, .outline-text-3, .outline-text-4 {
  padding: 0px 5% 0px 5%;
  margin: 0px; }

/* ***************** List ******************* */
ul {
  padding-left: 20px; }

/* invisible by default */
li {
  margin: 0.45em;
  list-style-type: none;
  /* do not use the default list style at all*/
  /* list-style-type: disc; */
  visibility: hidden; }

dd {
  visibility: hidden; }

dt {
  margin-bottom: 0.5em;
  margin-top: 0.5em; }

dd dd:before, dd li:before, li dd:before, li li:before {
  content: ''; }

/* ***************** List expansion ******************* */
/* expanded lists and dl (description list) is visible */
/* display: the size is not accounted */
/* visibility: the contents are invisible, but the size is accounted */
dd.expanded, li.expanded {
  visibility: visible; }

/* > dd, > ul, > ol { */
/*     &:first-of-type { */
/*         > dl, > li { */
/*             &:not(.expanded) { */
/*                 &:before { */
/*                     /\* visibility : visible; *\/ */
/*                     content : '...'; */
/*                 } */
/*                 ~ :not(.expanded) { */
/*                     content : ''; */
/*                 } */
/*             /\* dd, li { *\/ */
/*             /\*     &:before { *\/ */
/*             /\*         content : ''; *\/ */
/*             /\*     } *\/ */
/*             /\* } *\/ */
/*             } */
/*         } */
/*     } */
/* } */
/* **************** misc markup **************** */
.good li {
  list-style: none; }
  .good li:before {
    content: "☺";
    margin-right: 0.3em; }

.bad li {
  list-style: none; }
  .bad li:before {
    content: "☹";
    margin-right: 0.3em; }

.check li {
  list-style: check; }

/* ***************** Markup ****************** */
p {
  margin: 0.2em 0 0 0; }

pre, code {
  font-size: 22px;
  line-height: 1.05em;
  text-indent: 0em; }

pre {
  padding: 0.5em !important; }

code {
  padding: 0.12em; }

b i {
  color: red;
  font-style: italic; }

.underline i {
  color: blue;
  font-style: italic;
  font-weight: bold; }

/* notes */
/* lighten($text,4); */
/* .resume { */
/*     display : none; */
/* } */
.note, .resume {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 1.5em;
  bottom: 1.5em;
  max-width: 90%;
  text-indent: 0em;
  line-height: 1em; }
  .note p, .resume p {
    margin: 0; }
  .note ol, .note ul, .resume ol, .resume ul {
    margin: 0em 0.5em;
    /* padding: 0em; */ }
    .note ol > li, .note ul > li, .resume ol > li, .resume ul > li {
      margin: 0em;
      padding: 0em;
      text-indent: 0em;
      line-height: 1em; }

.note {
  font-size: smaller; }

.resume {
  font-size: 60%;
  /* display : none; */ }

blockquote {
  line-height: 1.8em;
  padding: 0.3em 1em; }

.inline ul, .inline li {
  display: inline;
  margin: 0;
  padding: 0.2em;
  border: 0; }

.smaller {
  font-size: smaller;
  line-height: 110%;
  margin: auto;
  padding: auto; }

.larger {
  font-size: larger;
  line-height: 110%;
  margin: auto;
  padding: auto; }

.xlarge {
  font-size: 250%;
  font-weight: bold;
  line-height: 110%;
  text-shadow: 1px 1px 1px lightgray; }

.vertical {
  writing-mode: vertical-rl; }

/* ************* Positioning ************ */
th.right, td.right {
  float: none; }

.right {
  float: right; }

.alignright {
  text-align: right; }

.center p {
  margin: 0.4em 0; }

.xlarge .center {
  font-size: inherit;
  line-height: inherit; }

/* .right p, .center p { */
/*     margin: 0.3em; */
/* } */
/* ************* Figures, Images, Table ********** */
.figure {
  padding: 0px; }
  .figure p {
    margin: 0px; }

img {
  -moz-box-sizing: content-box;
  max-height: 600px;
  max-width: 100%; }

li > img {
  display: inline;
  max-height: 1.5em;
  vertical-align: middle; }

caption {
  margin-bottom: 0.5em; }

table {
  margin: auto;
  margin-bottom: 26px;
  margin-top: 26px; }

.smaller .figure {
  max-width: 30%;
  height: auto; }
  .smaller .figure img {
    box-sizing: content-box;
    width: 100%;
    height: auto; }

/* .maximized { */
/*     /\* position: relative; *\/ */
/*     margin: 0 auto; */
/*     text-align: center; */
/* } */
/* .maximized img { */
/*     background-color: lightgray; */
/*     max-height: 450px; */
/*     /\* max-width:  700px; *\/ */
/*     min-height: 370px; */
/*     min-width: 600px; */
/* } */
/* debug */
.debug-border {
  position: relative; }
  .debug-border:after {
    position: absolute;
    border-color: rgba(255, 255, 0, 0.5);
    border-width: 1px;
    border-style: solid;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ''; }

/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////// */
/* below codes are taken from twitter-bootstrap */
.row {
  margin-left: -20px;
  *zoom: 1; }

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: ""; }

.row:after {
  clear: both; }

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px; }

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px; }

.span12 {
  width: 940px; }

.span11 {
  width: 860px; }

.span10 {
  width: 780px; }

.span9 {
  width: 700px; }

.span8 {
  width: 620px; }

.span7 {
  width: 540px; }

.span6 {
  width: 460px; }

.span5 {
  width: 380px; }

.span4 {
  width: 300px; }

.span3 {
  width: 220px; }

.span2 {
  width: 140px; }

.span1 {
  width: 60px; }

.offset12 {
  margin-left: 980px; }

.offset11 {
  margin-left: 900px; }

.offset10 {
  margin-left: 820px; }

.offset9 {
  margin-left: 740px; }

.offset8 {
  margin-left: 660px; }

.offset7 {
  margin-left: 580px; }

.offset6 {
  margin-left: 500px; }

.offset5 {
  margin-left: 420px; }

.offset4 {
  margin-left: 340px; }

.offset3 {
  margin-left: 260px; }

.offset2 {
  margin-left: 180px; }

.offset1 {
  margin-left: 100px; }

.row-fluid {
  width: 100%;
  *zoom: 1; }

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: ""; }

.row-fluid:after {
  clear: both; }

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row-fluid [class*="span"]:first-child {
  margin-left: 0; }

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%; }

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%; }

.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%; }

.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%; }

.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%; }

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%; }

.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%; }

.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%; }

.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%; }

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%; }

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%; }

.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%; }

.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%; }

.row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%; }

.row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%; }

.row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%; }

.row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%; }

.row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%; }

.row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%; }

.row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%; }

.row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%; }

.row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%; }

.row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%; }

.row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%; }

.row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%; }

.row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%; }

.row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%; }

.row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%; }

.row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%; }

.row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%; }

.row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%; }

.row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%; }

.row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%; }

.row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%; }

.row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%; }

.row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%; }

.row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%; }

[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none; }

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right; }

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1; }

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: ""; }

.container:after {
  clear: both; }

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1; }

.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: ""; }

.container-fluid:after {
  clear: both; }

.loupe {
  background-color: white;
  border: thin solid black;
  /* left:none !important; */
  /* top:none !important; */
  /* left:0px !important; */
  /* top: 0px !important; */
  /* right: 0px !important; */
  /* bottom: 0px !important; */ }
  .loupe img {
    -moz-box-sizing: content-box;
    max-height: none;
    max-width: none;
    /* right: 0px !important; */
    /* bottom: 0px !important; */
    /* left:0px !important; */
    /* top: 0px !important; */ }
