/* printing */

@page mypage {

    size: a4 landscape;
    
}

outline-1, outline-2, outline-3, outline-4 {
    page: mypage;
    page-break-before: always;
}

#text-before-first-headline {
    display: none;
}
.org-info-js_info-navigation {
    font-size: 60%;
}

/* #org-info-js-window { */
/*     height: 100%; */
/*     min-height: 100%; */
/* } */

i {
    font-family: 'LMRoman10',serif;
    font-style: 'Italic';
}

body {
    overflow: hidden;
    color: #1C2024;
    font-size: 26px;
    font-family: 'M+ 2c',Helvetica, Arial,'Lucida Grande', Meiryo, メイリオ, sans-serif;
    line-height: 1.25em;
    text-indent: 0.5em;
    background-color: #9ab;
    /* background-color: whitesmoke; */
    text-shadow: 0px 1px 1px #abc;
}

#content {
    padding: 0em;
}

pre, code {
    font-family: 'Ricty','Ubuntu Mono',monospace;
    font-size:   18pt;
    line-height: 1.05em;
    text-indent: 0em;
    text-shadow: none;
    background-color: #abc;
}

pre {
    padding: 0.5em !important;
}
code {
    border: 1px dashed #222222;
    border-radius: 2px;
    padding: 0.12em;
}

#org-info-js_console-container, .org-info-js_info-navigation {
    display: none;
}

h1 {
    line-height: 1.25em;
    text-align: center;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px lightgray;
}

h2, h3, h4 {
    text-align: center;
    margin: 0 0 1em;
    /* font-weight: normal; */
    text-shadow: 1px 1px 1px lightgray;
}

b {
    text-shadow: 1px 1px 1px lightgray;
}

.section-number-2, .section-number-3 {
    display: inline;
    font-size: 80%;
}
.section-number-4 {
    display: none;
    font-size: 60%;
}

ol li, ul li {
    margin: 0.45em;
}

.org-ul {
    padding-left: 20px;
}

.center {
    font-size: 125%;
    line-height: 1.25em;
}

.xlarge .center {
    font-size: inherit;
    line-height: inherit;
}


/* notes */

.note {
    animation-name: emerge;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    font-style: italic;
    font-size: 70%;
    /* color: #f7f7f7; */
    /* color: #f0f0f0; */
    color: #555;
    position: absolute;
    bottom: 10px;
    max-width: 90%;
}
.note p {
    margin: 0 0;
}
.note ol li, .note ul li{
    margin: -0.6em;
    padding: 0em;
}

.outline-text-2, .outline-text-3, .outline-text-4 {
    padding: 0px 5% 0px 5%;
    margin: 0px;
}

#postamble {
    display: none !important;
}

.figure p {
    margin: 0px;
}

.figure {
    padding: 0px;
}


img {
    -moz-box-sizing: content-box;
    padding: 2px;
    border-width: 3px;
    border-radius: 3px;
    border-style: solid;
    border-color: #222;
    max-height: 600px;
    max-width:  100%;
}

.figure img {
    background-color: #777;
}
/* .maximized { */
/*     /\* position: relative; *\/ */
/*     margin: 0 auto; */
/*     text-align: center; */
/* } */
/* .maximized img { */
/*     background-color: lightgray; */
/*     max-height: 450px; */
/*     /\* max-width:  700px; *\/ */
/*     min-height: 370px; */
/*     min-width: 600px; */
/* } */

th.right, td.right {
    float: none;
}

.right {
    float: right;
}
.alignright {
    text-align:right;
}

/* .right p, .center p { */
/*     margin: 0.3em; */
/* } */

.right img {
    float: right;
    
}

caption {
    margin-bottom: 0.5em;
}
table {
    margin: auto;
}

blockquote {
    font-style: italic;
    border-style: solid;
    border-radius: 0.3em;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: 3px 3px 3px #777;
    padding: 0.3em 1em;
}

.reload {
    position:absolute;
    bottom: 5%;
    left: 5%;
}


/* animation */

.emerging {
    animation-name: emergeX;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes emergeX {
    from {
	-moz-transform:translateX(20px);
	opacity: 0.0;
    }
    30% {
	-moz-transform:translateX(0px);
	opacity: 0.1;
    }
    to {
	-moz-transform:translateX(0px);
	opacity: 1.0;
    }
}

.emerging-list {
    animation-name: emergeY;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes emergeY {
    from {
	-moz-transform:translateY(-20px);
	opacity: 0.0;
    }
    30% {
	-moz-transform:translateY(0px);
	opacity: 0.1;
    }
    to {
	-moz-transform:translateY(0px);
	opacity: 1.0;
    }
}

li > .li-content:hover {
    color: #833;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.li-highlighted {
    animation-name: highlight;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}


img:hover, .emphasized img {
    animation-name: highlight-border;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.twocolumn .left:hover, .twocolumn .right:hover, blockqute:hover {
    animation-name: highlight-border-black;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes highlight {
    0% {
	color: #000;
    }
    2.5% {
	color: #522;
    }
    12.5% {
	color: #522;
    }
    25% {
	color: #000;
    }
    50% {
	color: #000;
    }
    100% {
	color: #000;
    }
}

@keyframes highlight-border {
    0% {
	border-color: #222;
    }
    5% {
	border-color: #c00;
    }
    70% {
	border-color: #222;
    }
}

@keyframes highlight-border-black {
    0% {
	border-color: #000;
	background-color: #fff;
    }
    5% {
	border-color: #f00;
	background-color: #fee;
    }
    70% {
	border-color: #000;
	background-color: #fff;
    }
}



/* twocolumn */
.twocolumn {
    /* width: 75%; */
    padding: auto;
}
.twocolumn .left{
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    max-width: 40%;
    display: inline-block;
    /* min-width: 40%; */
    /* margin: 0 0 0 auto; */
    padding: 0 2.5% 0 0;
}
.twocolumn .right{
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    max-width: 40%;
    display: inline-block;
    /* min-width: 40%; */
    /* margin: 0 auto 0 0; */
    padding: 0 2.5% 0 0;
    text-align: left;
}

.smaller {
    font-size: smaller;
    line-height:110%;
    margin: auto;
    padding: auto;
}
.smaller .figure {
    max-width: 30%;
    height: auto;
}
.smaller img {
    box-sizing: content-box;
    width: 100%;
    height: auto;
}

.larger {
    font-size: larger;
    line-height:110%;
    margin: auto;
    padding: auto;
}

.xlarge {
    font-size: 250%;
    font-weight: bold;
    line-height:110%;
    text-shadow: 1px 1px 1px lightgray;
}

.vertical {
    writing-mode: vertical-rl;
}

/* taken from bootstrap */

.row {
  margin-left: -20px;
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}

.span12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.span6 {
  width: 460px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.span3 {
  width: 220px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.offset12 {
  margin-left: 980px;
}

.offset11 {
  margin-left: 900px;
}

.offset10 {
  margin-left: 820px;
}

.offset9 {
  margin-left: 740px;
}

.offset8 {
  margin-left: 660px;
}

.offset7 {
  margin-left: 580px;
}

.offset6 {
  margin-left: 500px;
}

.offset5 {
  margin-left: 420px;
}

.offset4 {
  margin-left: 340px;
}

.offset3 {
  margin-left: 260px;
}

.offset2 {
  margin-left: 180px;
}

.offset1 {
  margin-left: 100px;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}

.row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}

.row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}

.row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}

.row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}

.row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}

.row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}

.row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}

.row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}

.row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}

.row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}

.row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}

.row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}

.row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}

.row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}

.row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}

.row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}

.row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}

.row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}

.row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}

.row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}

.row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}

.row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}

.row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}

.row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}

[class*="span"].hide,
.row-fluid [class*="span"].hide {
  display: none;
}

[class*="span"].pull-right,
.row-fluid [class*="span"].pull-right {
  float: right;
}

.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.container:before,
.container:after {
  display: table;
  line-height: 0;
  content: "";
}

.container:after {
  clear: both;
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-fluid:after {
  clear: both;
}

/* debug */

.debug-border {
    position: relative;
}

.debug-border:after {
    position: absolute;
    border-color: rgba(255,255,0,0.5);
    border-width: 1px;
    border-style: solid;
    z-index: -1;
    top: 0;
    left:0;
    bottom:0;
    right:0;
    content: '';
}
